/* mobile first */

/* how to make a responsive design : https://www.youtube.com/watch?v=ZYV6dYtz4HA */

*{
    margin: 0;
    padding: 0;
}

/* SELECTORS */

a{
    text-decoration: none;
}

body{
    background-color:#0d0f13;
    color:#0d0f13;
}

header{
    background: #0d0f13;
    margin: 0;
}

figure{
    margin: 0;
}
 
footer a:link{
    color:#8469F7;
    font-weight: bold;
}
    footer a:visited{
        color:#a38ff9;
    }
    footer a:hover{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2); 
        transform: scale(1.2);
        color:#BC99FD;
    }
    footer a:active{
        color:#BC99FD;
    }

/* class */

/* CONTAINER */

.flexcontainermargintop{
    margin-top: 5px;
    /* background: #BC99FD; */
}

.flexcontainerendright{
    display: flex;
    justify-content: flex-end;
    background-color: #0d0f13;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
    /* align-items: center; */
}

.flexcontainercolumn{
    display: flex;
    flex-direction: column;
    /* background-color: #8469F7; */
}

.flexcontainercolumn66{
    display: flex;
    flex-direction: column;
    /* background-color: #8469F7; */
}

.flexdirectionrow{
    /* display: flex;
    flex-direction: row; */
    /* background-color: #8469F7; */
    margin-top: 0px;
    margin-bottom: 5px;
}

.flexcontainerindex{
    display: flex;
    background: #E0D9FD;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    /* margin-right:100px;     */
}

/* BOXES */

.boxrowx3{
    width:100%;
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* background: #0d0f13; */
}
    .boxrowx3 figure img{
        width: 100%;
        /* height: 165px; */
    }
.boxrowx3left{
    width:100%;
    margin-left: 0;
    /* margin-right: 5px; */
    /* background: #42357b; */
}
    .boxrowx3left figure img{
        width: 100%;
        /* height: 165px; */
    }
.boxrowx3right{
    margin-left: 0px;
    /* background: #634FB9; */
}
    .boxrowx3right figure img{
        width: 100%;
        /* height: 165px; */
    }

.boxrowx3button{
    background: #42357b;
    padding: 10px;
    vertical-align: bottom;
    margin-bottom: 0;
    text-align: center;
    cursor: pointer;
    color:#8469f7;
    border: none;
}
    .boxrowx3button:hover{
        background: #634FB9;
        color:#110d1f;
    }

.boxrowx3index{
    width:50%;    
    margin-left: 5px;
    margin-right: 0px;
    text-align: center;
    /* background: #F0ECFE; */
}
    .boxrowx3index img{
        width: 70px;
        height:84px;
        margin-top: 23px;
    }

.boxrowx3leftindex{
    width:50%;
    margin-left: 0;
    /* background: #42357b; */
    text-align: center;
  
}
    .boxrowx3leftindex img{
        width:50%;
        margin-top: 5px;
    }

.boxrowx3rightindex{
    width:33.1%;
    margin-right:0;
    margin-left: 5px;
    text-align: center;
    /* background: #F0ECFE; */
}
    .boxrowx3rightindex img{
        width: 50%;
    }

.boxrowtitle h2{
    font-family: 'Montserrat', sans-serif ;
    padding:35px;
    padding-left: 15px;
    font-size: 1.2em;
}

.boxrowstyle1{
    border:solid 2px #d1c7fc;
}

.margin3{
    margin: 3px;
}

.shadowbox{
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, .6);
}


/* CONTENT ITEM */

.flexcolumnitem{
    margin-top:0;
    /* background: #8469F7; */
    border-bottom: 10px solid #E0D9FD;
}
    .flexcolumnitem img{
        width: 100%;
        /* height:250px; */
    }

.flexcolumnitemleft{
    margin-top:0;
    /* background: #8469F7; */
    border-bottom: 10px solid #E0D9FD;
}
    .flexcolumnitemleft img{
        width: 100%;
        /* height:250px; */
        
    }

.flexcolumnitemaside{
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #32275D;
}
    .flexcolumnitemaside h2{
        font-weight:600;
        color:#42357b;
    }
    .flexcolumnitemaside a:hover div {
        background-color: #d1c7fc;
        color: #32275D;
        border: 2px solid #634FB9;
        -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -moz-transform: scale(1.01);
        transform: scale(1.01);
        font-size:1.01em;
    }

.flexcolumnitemalone{
    margin-top:5px;
    margin-bottom: 5px;
}

.itemcontent{
    font-family: sans-serif;
    padding: 15px;
    background: #0d0f13;
    color: #F0ECFE;
}
    .itemcontent h2{
        font-family: 'Montserrat', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.3em;
        font-weight: bold;
    }

    .itemcontentlight{
        font-family: 'Roboto', sans-serif;
        padding: 10px;
        /* padding-bottom: 25px; */
        background: #F0ECFE;
        color: #0d0f13;
    }
        .itemcontentlight h1{
            font-family: 'Montserrat', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 2em;
            color: #42357b;
            font-weight: 600;
            padding-bottom: 20px;
            padding-top: 20px;
        }
        .itemcontentlight h2{
            font-family: 'Montserrat', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.1em;
            /* font-weight: bold; */
            color: #634FB9;
        }

.itemcontentaside{
    font-family:'Roboto', Arial, sans-serif;
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #F0ECFE;
    color: #110d1f;
    border-bottom: solid 2px #32275D;
}
    .itemcontentaside h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2em;
        padding-bottom:8px;
    }

.socialmediaicons{
    display: flex;
    justify-content: flex-end;
    background-color:#0d0f13;
    width:50%;
    align-items: center;
}
    .socialmediaicons img{
        width:25px;
        margin-right: 4px;
        margin-left: 4px;
        margin-top:3px;
        margin-bottom: -1px;
    }

.socialmediaframe{
    background: #BC99FD;
    margin-right: 15px;
    border: solid 2px #42357b;
    border-radius: 45px;
    margin-bottom: 2px;
    margin-top: 2px;
}
    .socialmediaframe a:hover img{
        background-color: #634FB9;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -moz-transform: scale(1.1); 
        transform: scale(1.1);
        border: 2px solid #0d0f13;
        border-radius: 25px;
    }
    .socialmediaframeend{
        background: #BC99FD;
        margin-right: 15px;
        border: solid 2px #42357b;
        border-radius: 45px;
        margin-bottom: 2px;
        margin-top: 2px;
    }
    .socialmediaframeend a:hover img{
        background-color: #634FB9;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -moz-transform: scale(1.1); 
        transform: scale(1.1);
        border: 2px solid #0d0f13;
        border-radius: 25px;
    }

.chooselanguage{
    width:50%;
    background:#0d0f13;
    text-align: center;
    line-height: 38px;
    color: #8469F7;
}
    .chooselanguage p{
        display: inline;
        font-family: 'Montserrat', sans-serif;
        margin-right: 2px;
        margin-left: 2px;
        font-size: 0.9em;
    }
    .chooselanguage a:hover{
        background:#32275D;
        color: #a38ff9;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2); 
        transform: scale(1.2);
        border-radius: 10px;
        border: 2px solid #a38ff9;
        padding:5px;
    }

.box1indexcontflex {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    background: #F0ECFE;
    margin-top:0px;
}

.box2indexcontflex {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    margin-left: 0px;
    /* margin-bottom: 5px; */
    margin-top:0px;
}

.portfolioboxheight{
    height: 150px;
    overflow: hidden;
   
}

.lightaspect{
    background: #F0ECFE;
}

.sanserif{
    font-family: sans-serif;
    /* background-color: #6958e4; */
    padding-bottom: 0;
    margin-bottom: 0;
}

.lucida{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

/* font-family: 'Courier Prime', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

.centro{
    align-items: center;
    text-align: center;
}

.workfile{
    font-family: 'Courier New', Courier, monospace;
}
    .workfile p{
        display: inline;
        font-weight: bold;
    }

.purpletext{
    color:#42357b;
}

.separadora{
    border:none;
    background-color: #634FB9;
    height: 3px;
}

.resultbox{
    background-color: #32275D;
    padding: 15px;
    color:#8469F7;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
    margin:5px 0;
    width: 350px;
    font-weight: 600;

}

.footerfixed{   
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #42357b;   
    padding-top: 50px;
    }

#whatdisplay{
    display:none;
}

#whatdisplay1{
    display:block;
}

/* ids */
  
#languagenicons{
    display:flex;
    background: #a38ff9;
    margin-right: 0px;
    margin-left: 0px;
    width:100%;
    margin-top:0px
}
    #languagenicons a{
        color:#6958e4;
    }
        #languagenicons a:visited{
            color:#8469F7;
        }
        #languagenicons a:active{
            color:#634FB9;
        }

#bannerbox{
    margin-left: 0px;
    padding-left: 0px;
    color: #F0ECFE;
    /* font-family: sans-serif; */
}
    #bannerbox h2{
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        color:#8469F7;
        font-weight: 500;
    }
    #bannerbox p{
        font-size: 1.1em;
        font-family:'Roboto', Arial, sans-serif;
        font-weight: 300;
    }
    #bannerbox button{
        width: 97%;
        background: #42357b;
        color:#F0ECFE;
        text-align: center;
        padding: 15px;
        border: none;
        margin-left: 5px;
        margin-right: 5px;
    }
        #bannerbox button p{
            font-size: 1.3em;
            font-weight: 500;
            font-family: 'Montserrat',Arial, Helvetica, sans-serif ;
            cursor:pointer;
        }
        #bannerbox a button:hover {
            background: #634FB9;
            color:#0d0f13
        }
#bannerboxpadding{
    padding: 10px;
}
  

#lightmain{
    background:#F0ECFE ;
}

#indexasidecontflex{
    /* background:#E0D9FD; */
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0px; 
    margin-right: 0;
    margin-top: 5px;
}

#asidetop{
    padding:13px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    background-color: #32275D;
    color: #a38ff9;
}
    #asidetop h2{
        font-weight:400;
    }

#linkedinicon{
    height:25px;
    margin-bottom:-2px;
    margin-top:4px;
    margin-right: 2px;
}

#purpleollin{
    margin-top: 20px;
    text-align: center;
    background-color: 0d0f13;
}
    #purpleollin img{
        width: 70%;
    }

      @media (prefers-reduced-motion: no-preference) {
        #purpleollin img {
          animation: purpleollin-spin infinite 150s linear;
        }
      }

      @keyframes purpleollin-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }








/* for mobiles */
@media screen and (max-width: 600px) {

    .topnav{
        float: right;
        background-color: #0d0f13;
        width:25.5%;
        height: 60px;
        line-height: 55px;
        color: #6958e4;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .topnav a {
        display: none;
        text-decoration: none;
    }
        .topnav a:link {
            color:#8469f7;
        }
        .topnav a:visited {
            color:#8469f7;
        }
        .topnav a.icon {
            float: right;
            display: block;
            /* position: absolute; */
            background: #0d0f13;
            padding-right: 15px;
            padding-left: 15px;
            color:#6958e4;
            margin-right:8px;
            /* background-color: #a38ff9; */
            line-height: 50px;
        }

    .topnav.responsive {
        position: absolute;
        width: 100%;
        height: 200px;
        }
        .topnav.responsive a.icon {
          position: absolute;
          right: 0;
          top: 0;
          background: #0d0f13;
         
        }
        .topnav.responsive a {
          float: none;
          display: block;
          text-align: center;
        }
        .topnav.responsive a:hover {
            background: #6958e4;
            color: #0d0f13;
          }
    
    #headerlogo{
        float:left;
        /* background: #8469f7; */
        width:68.5%;
        height:60px;
    }

    #headerlogo img{
        width:100%;
        }

    #halfimgollin{
        max-height: 210px;
        overflow: hidden;
    }

    #footerlogo{
        width: 80%;
    }

    /* image id */

    #footerlogo{
        height:20%;
    }

    #teresacataldo{
        height: 240px;
    }

    #fontsforwebsites{
        height: 240px;
    }

    #r209{
        height: 240px;
    }

    #lamorsa{
        height: 240px;
    }

    #htmlogo{
        height: 102px;
    }
    #javascriptlogo{
        height: 84px;
    }

   
}
















@media only screen and (min-width: 768px){

}


@media only screen and (min-width: 1000px){

    *{
        margin:0;
        padding:0;
    }
    
   
    #headerlogo{
        background-color: #0d0f13;
        width: 30%;
        height:60px;
        float:left;
        /* background-color: #634FB9; */
    }
      #headerlogo img{
        height:60px;
        width: 275px;
      }

        /*CONTAINER */
    .flexcontainer{
        display: flex;
    }

    .flexcontainerendright{
        display: flex;
        justify-content: flex-end;
        background-color: #0d0f13;
        box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
        /* align-items: center; */
    }

    .flexcontainercolumn{
        display: flex;
        flex-direction: column;
        /* background-color: #8469F7; */
    }

    .flexcontainercolumn66{
        display: flex;
        flex-direction: column;
        /* background-color: #8469F7; */
        width:69.9%;
        margin-right:2.5px;
        padding-top: 0;
    }

    .flexdirectionrow{
        display: flex;
        flex-direction: row;
        /* background-color: #8469F7; */
        margin-top: 5px;
        margin-bottom: 0;
    }

    .flexcontainerindex{
        display: flex;
        background: #E0D9FD;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        margin-right:100px;    
    }

    .boxrowx3{
        width:33.1%;
        margin-left: 1.5px;
        margin-right: 0px;
        /* background: #8469F7; */
    }
        .boxrowx3 figure img{
            width: 100%;
            /* height: 165px; */
        }
    .boxrowx3left{
        width:33.1%;
        margin-left: 0;
        margin-right: 1.5px;
        /* background: #42357b; */
    }
        .boxrowx3left figure img{
            width: 100%;
            /* height: 165px; */
        }
    .boxrowx3right{
        width:33.1%;
        margin-right:0;
        margin-left: 2.5px;
        /* background: #634FB9; */
    }
        .boxrowx3right figure img{
            width: 100%;
            /* height: 165px; */
        }

    .boxrowx3button{
        background: #42357b;
        padding: 10px;
        vertical-align: bottom;
        margin-bottom: 0;
        text-align: center;
        font-family: sans-serif;
    }
        .boxrowx3button:hover{
            background: #634FB9;
            color:#0d0f13;
        }

    .boxrowx3index{
        width:33.1%;    
        margin-left: 5px;
        margin-right: 5px;
        /* background: #8469F7; */ 
        text-align: center;
        background: #F0ECFE;
    }
        .boxrowx3index img{
            width: 36%;
            height:29%;
            margin-top: 31px;
        }

    .boxrowx3leftindex{
        width:33.1%;
        margin-left: 0;
        margin-right: 5px;
        /* background: #42357b; */
        text-align: center;
        background: #F0ECFE;
    }
        .boxrowx3leftindex img{
            width:50%;
            margin-top: 5px;
        }

    .boxrowx3rightindex{
        width:33.1%;
        margin-right:0;
        margin-left: 5px;
        /* background: #634FB9; */
        text-align: center;
        background: #F0ECFE;
    }
        .boxrowx3rightindex img{
            width: 50%;
        }

    .boxrowtitle h2{
        font-family: 'Montserrat', sans-serif ;
        padding:35px;
        padding-left: 15px;
        font-size: 1.2em;
    }

    .boxrowstyle1{
        border:solid 2px #d1c7fc;
    }
    .flexcolumnitem {
        margin-bottom:0px;
        border-bottom: none;
    }
        .flexcolumnitem img{
        width: 100%;
        /* height:175px; */
        margin-top: 0px;
    }

    .flexcolumnitemleft {
        margin-bottom:0px;
        border-bottom: none;
    }
        .flexcolumnitemleft img{
            width: 100%;
            /* height:175px; */
            margin-top: 0px;
        }

    .itemcontentlight{
        font-family: 'Roboto', sans-serif;
        padding: 10px;
        padding-bottom: 25px;
        background: #F0ECFE;
        color: #0d0f13;
        font-weight: 400;
    }
        .itemcontentlight h2{
            font-family: 'Montserrat', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.1em;
            /* font-weight: bold; */
            color: #42357b;
        }

    .box1indexcontflex {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-right: 2.5px;
        margin-left: 0px;
        background: #0d0f13;
        margin-bottom: 5px;
        margin-top: 0px;
        padding-bottom: 0;
    }

    .box2indexcontflex {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        margin-left: 0px;
        /* background: #634FB9; */
        margin-bottom: 5px;
        margin-top: 0px;
    }

    .itemcontentaside{
        font-family:'Roboto', Arial, sans-serif;
        padding: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        background: #F0ECFE;
        color: #0d0f13;
        border-bottom: solid 2px #32275D;
        font-weight: 400;
    }
        .itemcontentaside h2{
            font-family: 'Montserrat', sans-serif;
            font-size: 1.1em;
            padding-bottom:8px;
        }

    .topnav {
        width:69.5%;
        background-color: #0d0f13;
        /* background-color: #0d0f13; */
        overflow: hidden;
        float:left;
        height:60px;
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
        box-shadow: 5px 0 10px rgba(0, 0, 0, .6)
        }
        .topnav a {
        float: left;
        display: block;
        color: #6958e4;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 600;
        /* background: #a38ff9; */
        line-height: 28.5px;
        }
            .topnav a:hover {
                background: #6958e4;
                color: #0d0f13;
            }
            .topnav a:first-child{
                display: none;
            }

        .topnav .icon {
        display: none;
        }
    
    /* IDS */

    #languagenicons{
        display:flex;
        background: #a38ff9;
        margin:0;
    }
    #languagenicons a{
        color:#6958e4;
    }
        #languagenicons a:visited{
            color:#8469F7;
        }
        #languagenicons a:active{
            color:#634FB9;
        }

    .px160{
        margin-right: 160px;
        margin-left: 160px;
    }

    .chooselanguage{
        /* width:50%; */
        /* background:#634FB9; */
        text-align: center;
        line-height: 38px;
    }
    .chooselanguage p{
        display: inline;
        font-family: 'Montserrat', sans-serif;
        margin-right: 2px;
        margin-left: 2px;
        font-size: 0.9em;
    }
    .chooselanguage a:hover{
        background:#32275D;
        color: #a38ff9;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2); 
        transform: scale(1.2);
        border-radius: 10px;
        border: 2px solid #a38ff9;
        padding:5px;
    }

    .socialmediaicons{
        display: flex;
        justify-content: flex-end;
        /* background-color:#42357b; */
        align-items: center;
        width:50%;

    }
        .socialmediaicons img{
            width:25px;
            margin-right: 4px;
            margin-left: 4px;
            margin-top:3px;
            margin-bottom: -1px;
        }

    .socialmediaframe{
        background: #BC99FD;
        margin-right: 15px;
        border: solid 2px #42357b;
        border-radius: 45px;
        margin-bottom: 2px;
        margin-top: 2px;
    }
        .socialmediaframe a:hover img{
            background-color: #634FB9;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -moz-transform: scale(1.1); 
            transform: scale(1.1);
            border: 2px solid #0d0f13;
            border-radius: 25px;
        }
        .socialmediaframeend{
            background: #BC99FD;
            margin-right: 20px;
            border: solid 2px #42357b;
            border-radius: 45px;
            margin-bottom: 2px;
            margin-top: 2px;
        }
        .socialmediaframeend a:hover img{
            background-color: #634FB9;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -moz-transform: scale(1.1); 
            transform: scale(1.1);
            border: 2px solid #0d0f13;
            border-radius: 25px;
        }

    #bannerbox{
        margin-left: 0px;
        color: #F0ECFE;
        /* background: #634FB9; */
    
    }
        #bannerbox h2{
            font-family: 'Montserrat', Arial, Helvetica, sans-serif;
            font-size: 1.2em;
            color:#8469F7;
            font-weight: 500;
        }
        #bannerbox p{
            font-size: 1.1em;
            font-family:'Roboto', Arial, sans-serif;
            font-weight: 300;
        }
    
    #indexasidecontflex{
        /* background:#E0D9FD; */
        width: 35%;
        /* float: left; */
        display: flex;
        flex-direction: column;
        margin-left: 0px; 
        margin-right: 0;
    }
        
    #asidetop{
        padding:13px;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.1em;
        background-color: #32275D;
        color: #a38ff9;
        
    }
        #asidetop h2{
            font-weight:500;
        }

    #whatdisplay{
        display:block;
    }

    #whatdisplay1{
        display:none;
    }

    #halfimgollin{
        max-height: 160px;
        overflow: hidden;
    }

    
    /* image id */

    #teresacataldo{
        height: 175px;
    }

    #fontsforwebsites{
        height: 175px;
    }

    #r209{
        height: 175px;
    }

    #lamorsa{
        height: 175px;
    }

    #htmlogo{
        height: 102px;
    }
    #javascriptlogo{
        height: 84px;
        margin-top: 23px;
    }
    #cssicon{
        height: 101px;
        width: 92px;
        margin-top: 7px;
    }

    #designdesk{
        height: 150px;
    }

    #responsivewebdesign{
        height: 150px;
    }

}





